@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import "tailwindcss";



  

body{
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}
