@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import "tailwindcss";



/* .noto{
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
} */

body{
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}



.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}



/* toast notification */
/* toast styles */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  margin-bottom: 10px;
  padding: 12px 20px;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 0.5s forwards, fade-out 0.5s forwards 2.5s;
}

.toast.info { background-color: #3498db; }
.toast.success { background-color: #2ecc71; }
.toast.error { background-color: #e74c3c; }
.toast.warning { background-color: #f39c12; }

@keyframes slide-in { to { opacity: 1; transform: translateX(0); } }
@keyframes fade-out { to { opacity: 0; } }
